# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & Editor configs
.vscode/

# Local test & notes folders
sql_learn/
.sql_learn/
.web-test/
.mock/
.markdown/

# OS / Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/
bin/